<div class="form_align">
	<h1> Nanny </h1>


	<div class="family_listing">
		<h3> List of Families </h3>
		<% Family.all.each do |family| %>
		<hr/>
		<%= link_to family_session_path do %>
		<div class="family_each">
			<%= family.email %>
		</div>

		<% end %>
		<% end %>
	</div>

</div>