<div class="form_align">
	<h3> Nanny </h3>


	<%= link_to "My Profile", current_nanny %>

	<div class="family_listing">
		<h3> List of Families </h3>
		<% @families.each do |family| %>
		
		<hr/>
		<div class="family_each">
			<%= family.headline %>
		</div>
		<%= link_to family.name, family %>


		<% end %>
	</div>

</div>